@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    margin: 0px;
}
.헤더 {
    display: flex;
    /* background-color: red; */
    height: 70px;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
}
.왼쪽헤더 {
    background-color: yellow;
    display: flex;
    align-items: center;
    
}
.왼쪽헤더 img {
    width: 100px;
    margin-left: 15px;
}
.왼쪽헤더 span {
    font-size: 170%;
}
.중간헤더 {
    background-color: blue;
    display :flex;
    align-items: center;
}
.중간헤더 form{
    display: flex;
    align-items: center;
    height: 35px;
    border: 1px solid gray;
}
.중간헤더 input {
    width: 500px;
    border: none;
    height: 100%;
}
.중간헤더 button {
    border: none;
    height: 100%;
}

.오른쪽헤더 {
   
}
.오른쪽헤더 span {
    color : white;
    
}
.메인 {
    background-color: green;
    height: calc(100vh - 70px);
}