@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin : 0;
}





.header {
        
    height : 70px;
    
    display : flex;
    justify-content : space-between;
    align-items : center;

}


.header-left {

    display : flex;
    align-items : center;
    
}
.header-left img {

    width : 100px;

    margin-left : 15px;
}


.header-middle { 

    display : flex;
    align-items : center;

}
.header-middle form {

    height : 35px;

    margin : 0;

    display : flex;
    align-items : center;

    border : 1px solid gray;

}
.header-middle button {

    height : 100%;

    border-radius : 0;
    border : none;

}
.header-middle input {

    width : 500px;
    height : 100%;

    border-radius : 0;
    border : none;

}




.main {
 
    background-color : ivory;

    height : calc(100vh - 70px);

    display : flex;

}




.sidebar {

    width : 230px;

}
.sidebar-categories {

    width : 100%;

}
.sidebar-category {

    padding : 12px 25px;

    display : flex;
    align-items : center;

}
.sidebar-category .material-icons {

    margin-right : 15px;

}




.videos {

    overflow-y: scroll;

    width : 100%

}

.videos_container {
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap :wrap;
}

.video {

    margin : 18;

    width : 310;

}
.video_thumbnail img {

    width : 100%;
    height : 170;

}
.video_details {
    
    display : flex;

}
.video_author img {

    height : 40px;
    width : 40px;

    border-radius: 50%;

}
.video_title {

    display : flex;
    flex-direction : column;

}
.video_title h3 {

    margin-bottom : 5px;
    margin-top : 0px;

}